:root {
  --text-color: #000000;
  --background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --background-color: #242424;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}
